html {
  background-color:black;
  padding: 0px;
  font-family: sans-serif;
  color: white;
  font-size: 14px;
}
header {
  background-color: black;
  width: 360px;
  padding: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  --border-bottom: #322B40 solid 1px;
}
body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}
header img {
  height: 25px;
}
p {
  margin: 3px;
}
a {
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}
#back {
  color: #FF0032;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}
#desc {
  padding: 0px;
  margin: 0px;
  font-size: 14px;
  color: white;
}
.lab {
  box-sizing: border-box;
  display: inline-block;
  margin: 40px;
  padding: 0px;
  background-color: #222;
  width: 200px;
  height: 180px;
}
.lab img {
  margin: 0px;
  padding: 0px;
}
.lab p {
  margin-top: 6px;
}
